body {
  color: black;
  position: relative; /* Définir une position relative pour que les éléments enfants soient positionnés par rapport à lui */
}

.index_presentation,.index_statut{
  font-size: larger;
}

.bg-navbar {
  background-color: #e7c488;
  color : #20172B;
}

.dark-mode {
  background-color: rgb(32, 23, 43);
  color: rgb(240, 242, 202);
}
.light-mode{
  background-color: #e7c488;
  color: #20172B;
}

*{
  font-family: "Bahnschrift", Helvetica, sans-serif;
}

.dark-block {
  background-color: rgb(84, 65, 88) !important;
  color: #f0f2ca;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .30s transform cubic-bezier(.155,1.105,.295,1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

  a{
    color : #e7c488;
  }
  
  a:hover{
    color : #b89252;
  }
}

.dark-block:hover {
  transform: scale(1.04); /* Ajustez cette valeur selon vos besoins */
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}

img {
  width: 100px;
  height: 100px;
}



.light-block{
  background-color: rgb(231, 196, 136);
  color: #20172B;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .30s transform cubic-bezier(.155,1.105,.295,1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}




.skillBlock{
  display: flex;
  justify-content: center;
  /* background-color: #20172B; */
}

.skillImg{
  transition: .30s transform cubic-bezier(.155,1.105,.295,1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.skillImg:hover{
  transform: scale(1.08); /* Ajustez cette valeur selon vos besoins */
}


.footer {
  background-color: #e7c488;
  color: #20172B;  
  margin-top: auto; /* Pour rester en bas de la page */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  a{
    color : rgb(36, 26, 45);
  }
  
  a:hover{
    color : rgb(84, 65, 88);
  }

}

.skillButton{
  background-color: #E7C488 !important;
  color :rgb(36, 26, 45) !important
}


.skillButton:hover{
  background-color: #F0F2CA !important;
}

/* Largeur et hauteur de la barre de défilement */
::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
  height: 10px; /* Hauteur de la barre de défilement */
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Couleur de fond de la piste */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Couleur de la poignée */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur de la poignée au survol */
}

.test{
  color : #353535;
}


.projectBlockP{
  border-left : 1px solid #E7C488;
}
.projectBlockS{
  border-right : 1px solid #E7C488;
}

.row{
  --bs-gutter-x: 0rem;
}



